body {
    margin: 0 auto;
    background-color: #2C2F34;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
#container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    min-width: 660px;
}
#game-bar {
    width: 100%;
    margin-top: 50px;
}
#game-bar span {
    font-size: 30px;
    color: white;
}
#game-bar span.player-2 {
    float: right;
}
#board {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.box {
    width: 200px;
    height: 200px;
    background-color: #1E2225;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}